/* Estilos gerais para a página */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

/* Estilos específicos para a página account.html */

main {
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #00FF00; /* Destaque para o nome do usuário */
    font-size: 1.8em;
    text-align: center;
}

#userPlans {
    margin-top: 20px;
}

.plan {
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-left: 5px solid #4CAF50;
}

.plan h3 {
    margin: 0;
    color: #e0e0e0;
}

.plan p {
    margin: 5px 0;
    color: #b0b0b0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

nav .back-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

nav .back-button:hover {
    background-color: #0056b3;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff; /* Altere esta cor conforme sua preferência */
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

.back-button:hover {
    background-color: #0056b3; /* Altere esta cor conforme sua preferência */
}
