body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    flex: 1;
    text-align: center;
}

.header-title h1 {
    margin: 0;
    font-size: 1.5em; /* Tamanho do título ajustado */
}

.nav-main {
    flex: 1;
}

.nav-main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-main ul li {
    margin: 0 15px;
}

.nav-main ul li a {
    color: #fff;
    text-decoration: none;
}

.header-login {
    display: flex;
    align-items: center;
}

.header-login ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-login ul li {
    margin-left: 15px;
}

.header-login ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: 0.9em; /* Tamanho da fonte reduzido */
    position: static; /* Remove a fixação do rodapé */
}

.plan {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.hide {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#userWelcome {
    color: #00FF00;
}
